.courses-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 20px;

    padding-left: 25vw;
    padding-right: 25vw;
 

}


.course-card {

    display: flex;
    flex-direction: column;
    align-items: start;

    width: 100%;


    padding: 16px;
    margin: 12px 0;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
  
.unselected {
background-color: #f1f1f1;
color: black;
}

.selected {
background-color: black;
color: white;
}

.course-description {
margin-bottom: 8px;
font-size: 14px;
}

.course-title {
font-size: 16px;
font-weight: 500;
}
  