.courses-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    
    
    padding-left: 25vw;
    padding-right: 25vw;

}


.course-card {

    display: flex;
    flex-direction: column;
    align-items: start;
    color:Red;
    width: 100%;

    padding: 16px;
    margin: 12px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
  
.unselected {
background-color: #f1f1f1;
color: black;
}

.selected {
background-color: black;
color: white;
}

.course-title {
font-size: 16px;
font-weight: 600;
text-align: start;
}

.course-description {
margin-bottom: 5px;
margin-top: 10px;
font-size: 12px;
margin-left: 0;
margin-right: 0;
text-align: left
}




@media (min-width: 2000px) {
  h1 {
    font-size: 7rem;
  }

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

.course-title {
  font-size: 2.55rem;
  font-weight: 600;
}

.course-description {
  font-size: 2.25rem;
}

.courses-list .results-button {
  font-size: 3rem;
}}

@media (max-width: 600px){

  .courses-list{

      padding-left: 30px;
      padding-right: 30px;
      

  }

  .course-card{
      margin-left: 0;
      margin-right: 0;

  }

  .courses-list .courses-category h3{
    margin-top: 60px;
  }

  .courses-category:first-of-type h3 {
    margin-top: 10px;
  }







}
